:root {
	--M-T-color: #8443df;
	--nav-B-color: #8443df;
	--nav-T-color: #5f6f81;
	--S-T-color: #5f6f81;
	--M-back: #f7f7f7;
	--full-white: white;
	--full-black: black;
	--M-transition: 0.4s;
	--shadow: #ddd;
	--overlay: #787272ab;
	--S-overlay: oldlace;
}
$full-black: var(--full-black, black);
$full-white: var(--full-white, white);
$L-M-T: var(--M-T-color, #8443df);
$L-S-T: var(--S-T-color, #5f6f81);
$L-M-B: var(--M-back, #f7f7f7);
$L-T-nav: var(--nav-T-color, #5f6f81);
$L-B-nav: var(--nav-B-color, #8443df);
$M-transtion: var(--M-transition, 0.4s);
$L-shadow: var(--shadow, #ddd);
$L-overlay: var(--overlay, #787272ab);
$L-S-overlay: var(--S-overlay, oldlace);
